:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  $dot-color: black;
  $grid-dots: radial-gradient(circle at 1px 1px, $dot-color 1px, transparent 0);

  background-image: $grid-dots;
  background-size: 4.16% 22px;
}
