<div
  grid-item
  *ngFor="let item of items; trackBy: track"
  [x]="item.x"
  [y]="item.y"
  [w]="item.w"
  [h]="item.h"
  [items]="item.items"
  [level]="level"
  (dragStart)="startMove($event)"
  (potentialPosition)="movePlaceholder(item, $event)"
  (dragStop)="commitMove(item, $event)"
></div>

<div
  grid-item
  *ngIf="placeholder$ | async as placeholder"
  [placeholder]="true"
  [x]="placeholder.x"
  [y]="placeholder.y"
  [w]="placeholder.w"
  [h]="placeholder.h"
  [level]="level"
></div>
